<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>Rocketseat</title>
        {% endblock %}

        <link rel="stylesheet" href="/styledesafio.css">
    </head>
    <body>
        <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/courses">Cursos</a>
        </div>
        </header>

        {% block content %} {% endblock %}


    </body>
</html>